{% extends "admin/base.html" %}

{% block content %}
<h2> Job Summary </h2>
<table class="table table-bordered table-striped">
	<thead>
		{% for key in ('Job',"Type",'Release','Instances','Action')%}
		<th>{{ key }}</th>
		{% endfor %}
	</thead>
		{% for job in jobs %}
		<tr>
			<td><a href="{{ url_for('jobs.detail', slug=job.slug) }}">{{ job.title }}</a></td>
			<td>{{ job.type }}</td>
			<td>{{ job.release }}</td>
			<td>{{job.jobInstances|length}} </td>
	        <td><a href="{{ url_for("admin.edit", slug=job.slug) }}" class="btn primary">Edit</a> <a href="{{ url_for("admin.remove", slug=job.slug) }}" class="btn primary">Remove</a> </td>
		</tr>	
		{% endfor %}
</table>

{% endblock %}
