{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
  </div>
{% endblock %}

{% block content %}
  <h1>{{ job.title }}</h1> 
  <strong> type:</strong> {{ job.type }} 
  <strong> Release Tag:</strong> {{ job.release }} 
  <strong> Number of Events on File: </strong> {{ job.getNevents() }} 
  </br>
  {% set job_body = job.getBody() %}

  {% set cat="MetaData" %}
  {% set columns=["name","value"] %}
  <h3>{{cat}}</h3>
  <table class="table">
	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
  </table>

  {% set columns = ["source","target","file_type"] %} 
  {% for cat in ["InputFiles","OutputFiles"] %}  
  <div>
    <h3>{{cat}}</h3>
    <table class="table">
   	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
   </table>
   {% endfor %}
  </div>
  
  <h3> Job Wrapper </h3>
  <p> <strong>Executable:</strong> {{job_body["executable"]}} </p></div>
  <p> <strong>Application Script: </strong> </p>
  <code>
  {% for line in job_body["script"].splitlines() %}
   {{line}}<br>
  {% endfor %}
  </code>
  <hr>
  <h2>Job Instances ({{job.jobInstances|length}} total)</h2>
  {% set columns = ["id","batchId", "created at", "last sign of life", "status", "minor_status","host"]%}
<table class="table">
  <thead>
	{% for col in columns %}  	
	<th> {{ col }} </th>
  	{% endfor %}
  	{% if job.jobInstances %}  	
    {% for jobInstance in job.jobInstances %}
	<tr>
		<td> {{ jobInstance.sixDigit() }} </td>
		<td> {{ jobInstance.batchId }} </td>
		<td> {{ jobInstance.created_at.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.last_update.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.status }} </td>
		<td> {{ jobInstance.minor_status }} </td>
		<td> {{ jobInstance.hostname }} </td>
	</tr>
	{% endfor %}
    {% endif %}
</table>
<hr>
<strong> created at:</strong> {{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
<strong> Id:</strong> {{ job.id }}
{# construction site!!! #}
{# <h2>Add a jobInstance</h2>													#}
{#  <form action="." method="post"> 											#}
{#   {{ forms.render(form) }} 													#}
{#   <div class="actions"> 														#}
{#    <input type="submit" class="btn primary" value="add new Job Instance"> 	#}
{#   </div> 																	#}
{#  </form> 																	#}
{% endblock %}

