{% extends "base.html" %}
{% block content %}
<h2> Job Summary </h2>
{% set MAJOR_STATII = ['New','Running','Suspended','Failed','Terminated','Done','Submitted'] %}
{% set keys = ['Name','Site','Type','Release Tag']+MAJOR_STATII+["Total"] %}
<table class="table">
	<thead>

		{% for key in keys %}
		<th>{{ key }}</th>
		{% endfor %}
	</thead>
		{% for job in jobs %}
	<tr>
		<td><a href="{{ url_for('jobs.detail', slug=job.slug) }}">{{ job.title }}</a></td>
		<td>{{ job.execution_site }}</td>
		<td>{{ job.type }}</td>
		<td>{{ job.release }}</td>
		{% for key, value in job.aggregateStatii() %}
		<td>{{ value }}</td>
		{% endfor %}
		<td>{{job.jobInstances|length}}</td>
	</tr>	
	{% endfor %}
</table>
{% endblock %}
