{% extends "base.html" %}

{% block content %}
    {% for job in jobs %}
      <h2><a href="{{ url_for('jobs.detail', slug=job.slug) }}">{{ job.title }}</a></h2>
      <p>{{ job.body|truncate(100) }}</p>
      <p>
		{% for key, value in job.aggregateStatii().iteritems %}
		    <li>{{ key value }}</li> 
		{% endfor %}
        {% with total=job.jobInstances|length %}
            {{ total }} jobInstance {%- if total > 1 %}s{%- endif -%}
        {% endwith %}
      </p>
    {% endfor %}
{% endblock %}
