{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
  </div>
{% endblock %}

{% block content %}
  <h1>{{ job.title }}</h1> 
  <strong> type:</strong> {{ job.type }} 
  <strong> Release Tag:</strong> {{ job.release }} 
  <strong> Number of Events on File: </strong> {{ job.getNevents() }}  
  <strong> slug: </strong> {{ job.slug }} </br>
  <strong> Dependencies on other Jobs: </strong> {{ job.getDependency(pretty=True) }}
  </br>
  <strong> Comment: </strong> {{ job.comment }}
  </br>
  {% set job_body = job.getBody() %}

  {% set cat="MetaData" %}
  {% set columns=["name","value"] %}
  <h3>{{cat}}</h3>
  <table class="table">
	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
  </table>

  {% set columns = ["source","target","file_type"] %} 
  {% for cat in ["InputFiles","OutputFiles"] %}  
  <div>
    <h3>{{cat}}</h3>
    <table class="table">
   	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
   </table>
   {% endfor %}
  </div>
  
  <h3> Job Wrapper </h3>
  <p> <strong>Executable:</strong> {{job_body["executable"]}} </p></div>
  <p> <strong>Application Script: </strong> </p>
  <code>
  {% for line in job_body["script"].splitlines() %}
   {{line}}<br>
  {% endfor %}
  </code>
  <hr>
  <h2>Job Instances ({{instances.count()}} total)</h2>
  {% set columns = ["id","batchId", "created at", "last sign of life", "status", "minor_status","host"]%}
  {#, "CPU", "MEM"]#}
<table class="table">
  <thead>
	{% for col in columns %}  	
	<th> {{ col }} </th>
  	{% endfor %}
  	{% if instances.count() %}  	
    {% for jobInstance in instances %}
	<tr>
		{% set instId = jobInstance.sixDigit() %}
{#		<td> {{ jobInstance.sixDigit() }} </td> #}
		<td> <a href="{{ url_for("jobs.instanceDetail", slug=job.slug, instanceId=instId) }}">{{ instId }}</a></td> 
		<td> {{ jobInstance.batchId }} </td>
		<td> {{ jobInstance.created_at.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.last_update.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.status }} </td>
		<td> {{ jobInstance.minor_status }} </td>
		<td> {{ jobInstance.hostname }} </td>
{#		<td> {{ "%1.1f"%jobInstance.get("cpu") }} </td> #}
{#		<td> {{ "%1.1f"%jobInstance.get("memory") }} </td> #}
	</tr>
	{% endfor %}
    {% endif %}
</table>
<hr>
<h3>Summary Plots </h3>
<div id="placeholder" style="width:600px;height:300px"></div>

<strong> created at:</strong> {{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
<strong> Id:</strong> {{ job.id }}
{# construction site!!! #}
{# <h2>Add a jobInstance</h2>													#}
{#  <form action="." method="post"> 											#}
{#   {{ forms.render(form) }} 													#}
{#   <div class="actions"> 														#}
{#    <input type="submit" class="btn primary" value="add new Job Instance"> 	#}
{#   </div> 																	#}
{#  </form> 																	#}
{% endblock %}

{% block js_footer %}
{% set resources = job.aggregateResources() %}
<script language="JavaScript">
  "use strict";
  // here we write proper JS code
  var cpu = {{resources|safe}}["cpu"]["histogram"];
  var cpu_hist = cpu["transposed"];
  var cpu_bw   = cpu["binWidth"];

  var cpu_data = {
            data: cpu_hist,
            bars: {
                show: true,
                barWidth: cpu_bw,
                fill: true,
                lineWidth: 1,
                order: 1,
                fillColor:  "#AA4643"
            },
            color: "#AA4643"}

  
  var options ={
        xaxis: {
            tickLength: 0, // hide gridlines
            axisLabel: 'CPU time (s)',
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: 'Entries/bin',
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5
        },
        grid: {
            hoverable: true,
            clickable: false,
            borderWidth: 1
        },
        series: {
            shadowSize: 1
        }
    }
      
  $.plot($("#placeholder"), cpu_data, options);

</script>
{% endblock %}

