{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
  </div>
{% endblock %}

{% block content %}
  <h1>{{ job.title }}</h1> 
  <strong> type:</strong> {{ job.type }} 
  <strong> Release Tag:</strong> {{ job.release }} 
  <strong> Number of Events on File: </strong> {{ job.getNevents() }}  
  <strong> slug: </strong> {{ job.slug }} </br>
  <strong> Dependencies on other Jobs: </strong> {{ job.getDependency(pretty=True) }}
  </br>
  <strong> Comment: </strong> </br>
  <div class="well">
  <small>{{ job.comment }} </small>
  </div>
  {% set job_body = job.getBody() %}

  {% set cat="MetaData" %}
  {% set columns=["name","value"] %}
  <h3>{{cat}}</h3>
  <table class="table">
	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
  </table>

  {% set columns = ["source","target","file_type"] %} 
  {% for cat in ["InputFiles","OutputFiles"] %}  
  <div>
    <h3>{{cat}}</h3>
    <table class="table">
   	<thead>
	 {% for col in columns %}
	 <th> {{ col }} </th>
	 {% endfor %}
	 {% if job_body[cat] %}
	 {% for _file in job_body[cat] %}
	 <tr>
	 	{% for col in columns %}
	 	<td>{{ _file[col] }}</td>
		{% endfor %}
	 </tr>
	 {% endfor %}
	 {% endif %}	
   </table>
   {% endfor %}
  </div>
  
  <h3> Job Wrapper </h3>
  <p> <strong>Executable:</strong> {{job_body["executable"]}} </p></div>
  <p> <strong>Application Script: </strong> </p>
  <code>
  {% for line in job_body["script"].splitlines() %}
   {{line}}<br>
  {% endfor %}
  </code>
  <hr>
  {% set inst_status = status %}
  {% if status|safe == "None" %}
  <h2>Job Instances ({{instances.count()}} total)</h2>
  {% else %}
  <h2>Job Instances ({{instances.count()}} in status {{status|safe}})</h2>
  {% endif %}
  {% set columns = ["id","batchId", "created at", "last sign of life", "status", "minor_status","host"]%}
<table class="table">
  <thead>
	{% for col in columns %}  	
	<th> {{ col }} </th>
  	{% endfor %}
  	{% if instances.count() %}  	
    {% for jobInstance in instances %}
	<tr>
		{% set instId = jobInstance.sixDigit() %}
		<td> <a href="{{ url_for("jobs.instanceDetail", slug=job.slug, instanceId=instId) }}">{{ instId }}</a></td> 
		<td> {{ jobInstance.batchId }} </td>
		<td> {{ jobInstance.created_at.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.last_update.strftime('%Y-%m-%d %H:%M:%S') }} </td>
		<td> {{ jobInstance.status }} </td>
		<td> {{ jobInstance.minor_status }} </td>
		<td> {{ jobInstance.hostname }} </td>
	</tr>
	{% endfor %}
    {% endif %}
</table>
<hr>
<div class="container-fluid">
  <h3>Summary Plots </h3>
  <div class="row">
    <div class="col-sm-6" id="placeholder_cpu" style="width:550px;height:300px"></div>
    <div class="col-sm-6" id="placeholder_mem" style="width:550px;height:300px"></div>
  </div>
</div>
<div>
<p><strong> created at:</strong> {{ job.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
<strong> Id:</strong> {{ job.id }} </p>
</div>
{% endblock %}
{% block js_footer %}
{% set resources = job.aggregateResources() %}
<script language="JavaScript">
  "use strict";
  // here we write proper JS code
  $(document).ready(function(e) {

  function getOptions(bWidth,xMin,xMax,xLabel){
    var options ={
           bars: {
              show: true,
              barWidth: bWidth,
              fill: true,
              lineWidth: 1,
              order: 1,
              fillColor:  "#AA4643"
           },
           xaxis: {
              xmin: xMin,
              xmax: xMax,
              tickLength: 0, // hide gridlines
              axisLabel: xLabel,
              axisLabelUseCanvas: true,
              axisLabelFontSizePixels: 12,
              axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
              axisLabelPadding: 5
           },
           yaxis: {
              axisLabel: 'Entries/bin',
              axisLabelUseCanvas: true,
              axisLabelFontSizePixels: 12,
              axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
              axisLabelPadding: 5
           },
           grid: {
              hoverable: true,
              clickable: false,
              borderWidth: 1
           },
           series: {
              shadowSize: 1
           }
                  }
     return options;
  }
    var res = {{resources|safe}};

  var cpu = res["cpu"];
  var cpu_hist_raw = cpu["histogram"];
  var cpu_hist_bins = cpu_hist_raw["histo"][0];
  var cpu_hist = cpu_hist_raw["histoT"];
  var cpu_bw   = cpu_hist_raw["binWidth"];
  var cpu_min  = cpu["min"];
  var cpu_max  = cpu["max"];
  var cpu_h_min = cpu_hist_bins[0]-300;
  var cpu_h_max = cpu_hist_bins[cpu_hist_bins.length - 1]+300;

  var mem = res["memory"];
  var mem_hist_raw = mem["histogram"];
  var mem_hist_bins = mem_hist_raw["histo"][0];
  var mem_hist = mem_hist_raw["histoT"];
  var mem_bw   = mem_hist_raw["binWidth"];
  var mem_min  = mem["min"];
  var mem_max  = mem["max"];
  var mem_h_min = mem_hist_bins[0]-300;
  var mem_h_max = mem_hist_bins[mem_hist_bins.length - 1]+300;

  var cpu_opts = getOptions(cpu_bw,cpu_h_min,cpu_h_max,'CPU time (s)', "#AA4643");
  var mem_opts = getOptions(mem_bw,mem_h_min,mem_h_max,'Memory (MB)', "#AA4643");
  $.plot($("#placeholder_cpu"), [cpu_hist], cpu_opts).draw();
  $.plot($("#placeholder_mem"), [mem_hist], mem_opts).draw();
  });
</script>
{% endblock %}
  
           