{% extends "base.html" %}
{% block content %}
{% if timestamp != "None" %}
<h2> Job Summary </h2>
{% else %}
<h2> Job Summary </h2>
{# (active since {{ timestamp|safe }})</h2> #}
{% endif %}
{% set MAJOR_STATII = ['New','Submitted','Running','Suspended','Done','Failed','Terminated'] %}
{% set keys = ['Name','Site','Type','Release Tag','#events']+MAJOR_STATII+["Total"] %}
<table class="table">
	<thead>
		{% for key in keys %}
		<th>{{ key }}</th>
		{% endfor %}
	</thead>
		{% for job in jobs %}
	<tr>
		<td><a href="{{ url_for('jobs.detail', slug=job.slug) }}">{{ job.title }}</a></td>
		<td>{{ job.execution_site }}</td>
		<td>{{ job.type }}</td>
		<td>{{ job.release }}</td>
		<td>{{ job.getNevents() }}</td>
		{% set statdict = job.aggregateStatiiFast(asdict=True) %}
		{% for key in MAJOR_STATII %}
		{% set value = statdict[key] %}
		{% if key in MAJOR_STATII %}
	    <td><a href="{{job.slug}}/?status={{key}}">{{ value }}</a></td>
		{% else %}
		<td>{{ value }}</td>
		{% endif %}
		{% endfor %}
		<td>{{job.countInstances()}}</td>
	</tr>	
	{% endfor %}
</table>

{% endblock %}
