{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ job.taskName }}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>{{ job.type }}<p>
  <p>{{ job.particle }}<p>
  <p>{{ job.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  <hr>
  <h2>Job Instances</h2>
  {% if job.instances %}
    {% for instance in job.instances %}
       <p>{{ instance.randomSeed }}</p>
## OLD!
##       <p><strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
##      {{ comment.text }}
    {% endfor %}
  {% endif %}

## <h2>Add an instance</h2>

<form action="." method="post">
  {{ forms.render(form) }}
  <div class="actions">
    <input type="submit" class="btn primary" value="add instance">
  </div>
</form>

{% endblock %}
