[global]
randomSeed = true
# or set seed here.

[server]
host = 192.33.218.224
#192.168.56.101 # my local host
use_debugger = true
use_reloader = true

# database currently running on the same host.
[database]
host = 192.33.218.224
#192.168.56.101 # my local host
name = DmpJobDB
user = dampe
password = dampe

# here we have model definitions specific to the collections
[JobDB]
task_types = Generation,Digitization,Reconstruction,User,Other
task_major_statii = New,Running,Failed,Terminated,Done,Submitted,Suspended
task_final_statii = Terminated,Failed,Done
batch_sites = CNAF,local,UNIGE

[site]
DAMPE_SW_DIR = /opt/exp_software/dampe/
ExternalsScript = ${DAMPE_SW_DIR}/setup/setup.sh
traceback = true