{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="clearfix {% if field.errors %}error{% endif %}">
	{% if field.name == "title" %}
	<strong> Job Name </strong> <p class="input"> {{ field(rows=1,cols=255)}} </p>
	{% elif field.name == "body" %} 								
	    <strong> Metadata Content </strong> 
	    <div class="input"> {{ field(rows=10, cols=60) }} </div>
    {% endif %}								
  </div>												
{% endif %}															
{% endfor %}														
</fieldset>
{% endmacro %}
