{% extends "base.html" %}

 {%- block topbar -%}
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h2><a href="{{ url_for('admin.index') }}" class="brand">DmpWorkflow Administrator Interface</a></h2>
	  <ul class="nav nav-pills navbar-nav navbar-right">
	  </ul>
    </div>
    <div class="navbar-collapse navbar-left">
      <ul class="nav nav-pills navbar-header"> <!-- nav navbar-left"> -->
	  	<li><a href="{{ url_for("admin.create") }}" class="btn">Create new Job</a></li>
		<li> <a href="/" class="brand"> User Interface </a></li>
		<li><script language="JavaScript">
			document.write('<a href="https://' + window.location.hostname + ':12321" >Webmin Interface</a> ' );</script></li>  
		<li><script language="JavaScript">
			document.write('<a href="https://dampevm5.unige.ch:" >DB Interface</a> ' );</script></li>  
	  </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav>
 {%- endblock -%}
